{% extends 'base.html' %}
{% load static %}
{% block title %}Товары{% endblock %}

{% block content %}

<!-- Главное меню -->
<div class="top-menu mb-4 text-center">
    {% for cat in main_categories %}
        <a href="?type={{ cat.name }}"
           class="menu-link {% if selected_main == cat %}active{% endif %}">
            {{ cat.name }}
        </a>
    {% endfor %}
</div>

<!-- Подкатегории -->
{% if subcategories %}
<div class="mb-4 text-center">
    {% for cat in subcategories %}
        <a href="?type={{ selected_main.name }}&category={{ cat.id }}"
           class="btn btn-outline-primary btn-sm">
            {{ cat.name }}
        </a>
    {% endfor %}
</div>
{% endif %}

{% if query %}
    <p>Результаты поиска: <strong>{{ query }}</strong></p>
{% endif %}

<div class="row g-4">
    {% for product in products %}
        <div class="col-6 col-md-4 col-lg-3 col-xl-2-4">
            <a href="{% url 'product_detail' product.pk %}" class="text-decoration-none text-dark">
                <div class="product-card h-100">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
                    {% endif %}
                    <h5 class="mt-2">{{ product.name }}</h5>
                    {% if not product.hide_price %}
                        <p class="price">{{ product.price }} ₽</p>
                    {% else %}
                        <p class="text-muted">Цена по запросу</p>
                    {% endif %}
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}