{% extends "admin/base_site.html" %}

{% block content %}
<h2>Назначить категорию</h2>

<form method="post">
    {% csrf_token %}

    <label>Категория:</label>
    <select name="category">
        {% for cat in categories %}
            <option value="{{ cat.id }}">{{ cat.name }}</option>
        {% endfor %}
    </select>

    {% for product in products %}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ product.pk }}">
    {% endfor %}

    <br><br>
    <button type="submit" name="apply">Назначить</button>
</form>

{% endblock %}