{% extends "admin/base_site.html" %}

{% block content %}

<h2>Удалить категории у товаров</h2>

<form method="post">{% csrf_token %}

    {% for product in products %}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ product.pk }}">
    {% endfor %}

    <p>Выберите категории:</p>

    {% for category in categories %}
        <div>
            <input type="checkbox" name="categories" value="{{ category.id }}">
            {{ category.name }}
        </div>
    {% endfor %}

    <br>

    <button type="submit" name="apply">Применить</button>

</form>

{% endblock %}